<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h3>
        <%= @user.username %>
      </h3>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/photos/new" class="btn btn-default btn-block">
      <i class="fa fa-plus"></i>
    </a>

    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Caption</th>
        <th>Image</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @photos.each do |photo| %>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="/users/<%= photo.user_id %>"><%= photo.user.username %></a>
                  <small>
                    How does this date thing work?
                  </small>
                </h3>
              </div>
        
              <div class="panel-body">
                <a href="/photos/<%= photo.id %>">
                  <img src="<%= photo.image %>" class="img-responsive">
                </a>
                <% if current_user.present? %>
                  <p>
                    <% if current_user.likes.where(:photo_id => photo.id).present? %>
                      <a href="/delete_like/<%= current_user.likes.find_by(:photo_id => photo.id).id %>" class="btn btn-link">
                        <i class="fa fa-heart"></i>
                      </a>
                    <% else %>
                      <form action="/create_like" method="post">
                        <!-- Hidden input for authenticity token to protect from forgery -->
                        <input name="authenticity_token" type="hidden" value="w1iLjvXzqYtx/ZzTeVLpx2o5GmuxYRT5y80KYEt+d6yEfZSWhn3rBwIWG/08tJW1S1AgSrr4D37in+f/2tVoCQ==">
                        
                        <input type="hidden" name="photo_id" value="<%= photo.id %>">
          
                        <input type="hidden" name="user_id" value="<%= current_user.id %>">
          
                        <button class="btn btn-link">
                          <i class="fa fa-heart-o"></i>
                        </button>
                      </form>
                    <% end %>
                    <% if photo.likes.present? %>
                      <% likes = photo.likes %>
                      <%= likes[0].user.username %>  
                      <% if likes.count == 1 %>
                        likes
                      <% elsif likes.count == 2 %>
                        and <%= likes[1].user.username %> like 
                      <% elsif likes.count == 3 %>
                        , <%= likes[1].user.username %>, and <%= likes[2].user.username %> like
                      <% else %>
                        , <%= likes[1].user.username %>, <%= likes[2].user.username %>, and <%= likes.count - 3 %> others like
                      <% end %>
                      this
                    <% else %>
                     be the first to like this
                    <% end %>
                  </p>
                <% end %>
        
                <ul class="media-list">
                  <% photo.comments.each do |comment| %>
                    <li class="media">
                      <div class="media-body">
                        <h6 class="media-heading">
                          <a href="/users/<%= comment.user_id %>"> <%= comment.user.username %></a>
                          <small>
                            How does this time thing work?
                          </small>
                        </h6>
                        <%= comment.body %>
                      </div>
                    </li>
                  <% end %>
        
                  <% if current_user.present? %>        
                    <li class="media">
                      <div class="media-body">
                        <form action="/create_comment" method="post">
                          <!-- Hidden input for authenticity token to protect from forgery -->
                          <input name="authenticity_token" type="hidden" value="VPIQ8NafgdfjPUnmtBSAtT139iInNhp5S23Wg++pnjcT1w/opRHDW5DWzsjx8vzHHB7MAyyvAf5iPzscfgKBkg==">
          
                          <input type="hidden" name="photo_id" value="<%= photo.id %>">
          
                          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          
                          <!-- Label and input for body -->
                          <div class="form-group">
                            <label for="body" class="sr-only">
                              Body
                            </label>
          
                            <div class="input-group">
                              <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
          
                              <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                  <i class="fa fa-commenting-o"></i>
                                </button>
                              </span>
                            </div><!-- /input-group -->
                          </div>
                        </form>
                      </div>
                    </li>
                  <% end %>
                </ul>
                <div class="btn-group btn-group-justified">
                  <a href="/photos" class="btn btn-primary">
                    <i class="fa fa-chevron-left"></i>
                  </a>
                  <% if current_user.present? %>
                    <% if photo.user_id == current_user.id %>
                      <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a href="/delete_photo/144" class="btn btn-danger" rel="nofollow">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </table>
  </div>
</div>

